@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'madecarving';
  src: url('/src/assets/fonts/madecarving-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'madecarving';
  src: url('/src/assets/fonts/madecarving-extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'madecarving';
  src: url('/src/assets/fonts/madecarving-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'madecarving';
  @apply bg-slate-100;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
